<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="driverType" value="1"/>
    <test verbose="2" preserve-order="true" name="D:/bootcamp/ebayTestsFinalProject">
        <classes>
            <class name="AuthenticationTestSuite.LoginTests">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="AuthenticationTestSuite.RegistrationTests">
                <methods>
                    <include name="registrationTest"/>
                </methods>
            </class>
            <class name="CartTestSuite.CartTests">
                <methods>
                    <include name="checkItemAdded"/>
                    <include name="checkItemRemoved"/>
                    <include name="checkCartPrice"/>
                </methods>
            </class>
            <class name="SearchTestSuite.SearchTests">
                <methods>
                    <include name="findResults"/>
                    <include name="checkLocationFilter"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>